* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(202, 181, 181);
}

.container {
  width: 40%;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 20px rgb(40, 40, 40);
}

image {
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: chartreuse;
  cursor: pointer;
}

.content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: azure;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.container:hover .overlay {
  opacity: 0.8;
}
