.profile_img{
   border-radius: 50%;
   height: 250px;
   width: 250px;
}

.profile_containers{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
}

/* relevant styles */
.profile_container {
   position: relative;
   height: 200px;
   width: 257px;
 }
 
.profile_containers {
    width: 40%;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:0 10px 20px rgb(40, 40, 40) ;
 }
 
   /* transition effect. not necessary */
   transition: opacity .2s, visibility .2s;
 
 
 .profile_container:hover .img__description {
   visibility: visible;
   opacity: 1;
 }